.main-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.chess-container {
    margin-top: 5rem;
}

.icons {
    margin-top: .3rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
}