.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#light {
  background-color: #ffffff;
}

#dark {
  background-color: rgb(31, 10, 10);
}

#light .App {
  background-color: #ffffff;
}

#dark .App {
  background-color: rgb(31, 10, 10);
}


#light .board-title {
  color: black;
}

#dark .board-title {
  color: #ffffff;
}